@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

  *{

    margin: 0;
    padding: 0;
  }


  
  body{
    font-family: 'Montserrat', sans-serif, Arial, Helvetica;
    background-color: #f1f1f1;
  }

 .logo{
  position: absolute;
  width: 20vh;
  height: 20vh;
  padding-left: 1vh;
  margin-bottom: 3vh;

 }


 header{
  height:17vh;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 2rem #2F4F96; 
 }

 ul{

  display: flex;
  margin: 7vh;
  font-size: 3vh;
 }

 li{
  color:black;
  list-style-type: none;
  font-family: 'Montserrat';
  cursor: pointer;
  padding-left: 2rem;
 }

 .in{
  position: absolute;
  font-family: 'Montserrat';
  color: #004AAD;
  left: 18vh;
  top: 5vh;
 }

 .sight{
  position: absolute;
  font-family: 'Montserrat';
  color: black;
  left: 23vh;
  top: 5vh;

 }

 .tech{
  position: absolute;
  font-family: 'Montserrat';
  color: black;
  left: 20vh;
  top: 11vh;
  font-size: 1.5vh;
  letter-spacing: 0.2vh;
 }

 .movimentoheader {
  transition: all 0.4s ease;

}

.movimentoheader:hover {
  transform: translateY(-1vh);
  
}

 .bg{
    width: 100%;
    height: 90%;

 }

 .link-sem-sublinhado {
    text-decoration: none;
  }

.texto{
  font-family: 'Montserrat';
  font-size: 7vh;
  color: white;
  position: absolute;
  top: 100vh;
  left: 87vh;
  font-weight: bold;
 
      text-shadow: 
               -1px -1px 0px #000, 
               -1px 1px 0px #000,      
                1px -1px 0px #000,    
                1px 0px 0px #000;
}

.container{
    max-width: 100%;
    margin: 0 auto;
    padding: 0vh;
    padding-top: 10vh;
    display: flex;
    justify-content: flex-start;
    padding-left: 25vh;

    
  }
  
  
  .feature {
    width: calc(33.33% - 2vh);
    margin-bottom: 2vh;
    background-color: #fff;
    border-radius: 2vh;
    padding: 2vh;
    box-shadow: 0 2px 5px #012A5D;
    transition: all 0.3s ease;
    padding-left: 5vh;
  }
  
  
  
  .feature:hover {
    transform: translateY(-1vh);
    box-shadow: 0 4px 10px #012A5D;
  }

  .grafico{
    width: 45vh;
    height: 45vh;
    padding-right: 37vh;
  }
  
